pyrogram
tgcrypto
stripe
pymongo
beautifulsoup4
pyromod
httpx
fake-useragent==0.1.11
speedtest-cli
psutil
aiohttp
httpcore
cryptography
pytz
openai
pycountry
countryinfo
faker
random-username
requests==2.31.0
urllib3==1.26.16
chardet==4.0.0
python-telegram-bot
trafilatura
